html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
.header {
    padding-top: 5.5px;
    padding-left: 22px;
    padding-bottom: 5px;
}
.logotip {
    padding-left: 16px;
    font-size: 24.5px;
    color: #02A4D3;
    font-family: "Oswald";
    font-weight: bold;
}